spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: false
    show-sql: false
    hibernate:
      ddl-auto: validate  # Изменено с update на validate
  datasource:
    url: jdbc:postgresql://hungman_postgres_db:5432/hungman
    username: docker
    password: docker
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
    default-schema: public
  thymeleaf:
    cache: 'false'
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  application:
    name: hungman

server:
  port: '9099'

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE
    org.springframework: INFO
    liquibase: INFO